*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#07111f;
    color:white;
}

header{
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    background:#0b1628;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    box-shadow:0 0 20px rgba(0,255,255,.15);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#38bdf8;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:35px;
    font-size:17px;
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 8%;
}

.left{
    width:55%;
}

.left h3{
    color:#38bdf8;
    font-size:24px;
    margin-bottom:15px;
}

.left h1{
    font-size:60px;
    margin-bottom:15px;
}

.left h2{
    font-size:30px;
    color:#d1d5db;
    margin-bottom:20px;
}

.left p{
    font-size:19px;
    line-height:1.8;
    color:#b8c5d3;
    margin-bottom:35px;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn1,.btn2{
    padding:15px 35px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:17px;
    font-weight:600;
    transition:.4s;
}

.btn1{
    background:#38bdf8;
    color:white;
}

.btn2{
    background:transparent;
    color:#38bdf8;
    border:2px solid #38bdf8;
}

.btn1:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px #38bdf8;
}

.btn2:hover{
    background:#38bdf8;
    color:white;
    transform:translateY(-5px);
}

.right{
    width:40%;
    display:flex;
    justify-content:center;
}

.chip{
    width:320px;
    height:320px;
    border:3px solid #38bdf8;
    border-radius:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:55px;
    font-weight:700;
    color:#38bdf8;
    box-shadow:0 0 40px rgba(56,189,248,.5);
    animation:float 3s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0);}
}

@media(max-width:900px){

header{
    flex-direction:column;
    height:auto;
    padding:20px;
}

nav{
    margin-top:15px;
}

nav a{
    margin:10px;
    display:inline-block;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.left{
    width:100%;
}

.right{
    width:100%;
    margin-top:60px;
}

.buttons{
    justify-content:center;
}

.left h1{
    font-size:42px;
}

.left h2{
    font-size:24px;
}

.chip{
    width:220px;
    height:220px;
    font-size:40px;
}

}

